body {
    background-color: #333;
    color: #f0f0f0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 60px;
}

nav {
  display: flex;
  background-color: #222;
  border-bottom: 1px solid #444;
  margin-bottom: 15px;
  padding: 15px 0;
  color: #f0f0f0;
}
nav img {
  width: 60px;
  height: 60px;
  margin-left: 15px;
}
nav ul {
  padding-left: 20px;
  list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 15px;
}
nav a {
    color: #f0f0f0;
    text-decoration: none;
}

h1 {
    text-align: center;
}

.import-btn, .seed-btn, .update-btn {
    width: 75%;
    font-size: 20px;
    margin: 5px auto;
    display: block;
    background-color: #db9834;
    border-radius: 4px;
    color: #f0f0f0;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    border: 2px solid #333;
    text-decoration: none;
}

/* style input element to match .import-btn */
input {
    width: 75%;
    margin: 5px auto;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    border-color: #333;
    background-color: #f0f0f0;
    color: #333
    
}

.box {
    text-align: center;
    margin: 0 auto;
    position: relative;
    max-width: 600px;
    width: 90%;
    /* height: 400px; */
    background: #444;
    /* box-shadow: 0 0 15px rgba(0,0,0,.1); */
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 20px auto;
    padding: 20px 40px;
  }
  
  /* common */
  .ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #f0f0f0;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #db9834;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }
  
  /* top left*/
  .ribbon-top-left {
    top: -10px;
    left: -10px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
  }
  
  /* top right*/
  .ribbon-top-right {
    top: -10px;
    right: -10px;
  }
  .ribbon-top-right::before,
  .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbon-top-right::after {
    bottom: 0;
    right: 0;
  }
  .ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }

  ul.messages {
    list-style: none;
    width: 75%;
    font-size: 20px;
    margin: 5px auto;
    display: block;
    background-color: #1b8401;
    border-radius: 4px;
    color: #f0f0f0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    border: 2px solid #333;
    text-decoration: none;
  }

  ul.delete-messages {
    list-style: none;
    width: 75%;
    font-size: 20px;
    margin: 5px auto;
    display: block;
    background-color: red;
    border-radius: 4px;
    color: #f0f0f0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    border: 2px solid #333;
    text-decoration: none;
  }


  /* management table styles */
  .manage-table {
    width: 100%;
    margin: 5px auto;
    background-color: #333;
    border-radius: 4px;
    color: #f0f0f0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #f0f0f0;
    text-decoration: none;
    border-collapse: collapse;
  }
  .manage-table th, .manage-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #f0f0f0;
  }
  .manage-table input {
    font-size: 14px;
    background-color: #333;
    color: #f0f0f0;
    width: 90%;
  }
  .manage-table .hidden {
    display: none;
  }
  .manage-table a {
    color: #db9834;
    text-decoration: none;
  }

  .delete-user {
    background-color: red !important;
  }
  .update-user {
    background-color: green !important;
  }
  .update-user, .delete-user {
    padding: 4px 8px !important;
    color: #f0f0f0 !important;
    text-decoration: none !important;
    font-size: 12px !important;
    font-weight: bold !important;
  }

  .fix-names {
    background-color: #db9834;
    color: #f0f0f0;
    padding: 5px 10px;
    font-weight: bold;
  }

  .btn-red {
    background-color: red!important;
  }

  table.bulk-upload-table {
    border: 1px solid #f0f0f0;
    border-collapse: collapse;
    width: 80%;
  }
  .bulk-upload-table td, .bulk-upload-table th {
    border: 1px solid #f0f0f0;
    padding: 8px 16px;
  }

  /* Slider checkbox */
  /* Slider div label */
  div.bucket-seeding {
    width: 70%;
    display: inline-flex;
    justify-content: space-around;
  }

  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #db9834;
}

input:focus + .slider {
  box-shadow: 0 0 1px #db9834;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Tooltip */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip ul {
  list-style: none;
  text-align: left;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.bucket-seeding-tooltip {
  color: #db9834;
}