{% extends 'layout.html' %}
{% block content %}

<div class="container">
    <h1>Bulk Upload</h1>

    <h3>The following players have been imported or updated</h3>
    <p>Note: If list is empty, either all players have already been imported, or the csv was empty</p>

    <h4>Imported Players - ({{'0' if linked_contacts == None else linked_contacts|length}})</h4>
    <table class="bulk-upload-table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Battletag</th>
                <th>Race</th>
                <th>Region</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player["username"] }}</td>
                <td>{{ player["battletag"] }}</td>
                <td>{{ player["race"] }}</td>
                <td>{{ player["region"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h4>Updated Players - ({{ updated_players|length }})</h4>
    <table class="bulk-upload-table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Battletag</th>
                <th>Race</th>
                <th>Region</th>
            </tr>
        </thead>
        <tbody>
        {% for player in updated_players %}
            <tr>
                <td>{{ player["username"] }}</td>
                <td>{{ player["battletag"] }}</td>
                <td>{{ player["race"] }}</td>
                <td>{{ player["region"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}