{% extends 'layout.html' %}
{% block content %}

<div class="container">
    <h1>{{ title }}</h1>

    <h3>Download a sample import sheet <a href="/static/players_sample.csv">here</a></h3>

    <form class="bulk-import" method="POST" enctype="multipart/form-data" action="/bulk_upload">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

</div>

{% endblock %}