{% extends 'layout.html' %}
{% block content %}

<div class="container">
    <h1>FOML / GNL Draft Tool</h1>

    <div class="box">
        <h2>Update MMR</h2>
        <h3>Match up battletags on the Manage page</h3>

        <h3>Run Update MMR Script</h3>
        <p>Update everyone's current MMR by clicking the Update MMR link below</p>
        <a class="update-btn" href="/update_mmr">Update MMR</a>
        {% with success = get_flashed_messages(category_filter=["update_success"]) %}
            {% if success %}
            <ul class="messages">
                {% for message in success %}
                <li class="message">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </div>
</div>

{% endblock %}