<html>
    <head>
        {% block head %}
            <title>{{ title }}</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
            <script src="https://kit.fontawesome.com/57ee613d5c.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% include "nav.html" %}
        {% block content %}
        {% endblock %}
    </body>
</html>