{% extends 'layout.html' %}
{% block content %}

<div class="container">
    <h1>Player Management ( {{ players|length }} )</h1>

    {% with success = get_flashed_messages(category_filter=["update_success"]) %}
        {% if success %}
        <ul class="messages">
            {% for message in success %}
            <li class="message">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% with success = get_flashed_messages(category_filter=["delete_success"]) %}
        {% if success %}
        <ul class="delete-messages">
            {% for message in success %}
            <li class="message">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <table class="manage-table">
        <thead>
            <tr>
                <th class="hidden">id</th>
                <th>Username</th>
                <th>Battletag</th>
                <th>Race</th>
                <th>Region</th>
                <th>S12 MMR</th>
                <th>S13 MMR</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
            <form id="{{ player.id }}" action="/update_single_user" method="post"></form>
                <td class="hidden"><input form="{{ player.id }}" type="text" name="id" value="{{ player.id }}" /></td>
                <td><a href="{{ player.w3c_profile }}" target="_blank">{{ player.username }}</a></td>
                <td><input form="{{ player.id }}" type='text' name="battletag" value="{{ player.battletag}}" placeholder='battletag' /></td>
                <td>{{ player.race }}</td>
                <td>{{ player.region }}</td>
                <td>{{ player.s12_mmr }}</td>
                <td>{{ player.s13_mmr }}</td>
                <td><input class="update-user" form="{{ player.id }}" type='submit' value="Update" /></td>
                <td><a class="delete-user" href="/delete_single_user?id={{ player.id }}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}