<nav>
    <a href="/"><img src="/static/logo.png" /></a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/manage">Manage</a></li>
        <li><a href="/import">Import</a></li>
        <li><a href="/single_insert">New Player</a></li>
        <li><a class="fix-names" href="/fix_names">Fix Name Capitalization</a></li>
        <li><a class="fix-names" href="/export_players">Export Players</a></li>
        <li><a class="fix-names btn-red" href="/delete_players">DELETE PLAYERS</a></li>
    </ul>
</nav>