{% extends 'layout.html' %}
{% block content %}

<div class="container">
    <h1>{{ title }}</h1>

    {% with success = get_flashed_messages(category_filter=["insert_success"]) %}
        {% if success %}
        <ul class="messages">
            {% for message in success %}
            <li class="message">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <form class="single-insert" method="POST" action="/single_insert">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="battletag" placeholder="BattleTag#0000">
        <input type="text" name="region" placeholder="Country">
        <input type="text" name="race" placeholder="Race">
        <input type="submit" value="Add User">
    </form>

</div>

{% endblock %}
